blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
.DS_Store
Thumbs.db
*.swp
*.swo
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive
a.out
*.o
*.obj
*.class
MultiTestDB.conf
*.frozen.conf
bioperl*.zip
/modules/t/CLEAN.t
/misc-scripts/xref_mapping/sql/populate_metadata.sql
