dbname                      = mk8_bos_taurus_core_65_31
host                        = ens-research
port                        = 3306
user                        = ensro
assembly                    = UMD3.1
altassembly                 = Btau_4.0
altdbname		    = mk8_bos_taurus_core_63_4
althost                     = ens-research
altport                     = 3306
vardbname		    = bos_taurus_variation_65_31
varhost			    = ens-livemirror
varport			    = 3306
varaltdbname		    = bos_taurus_variation_63_4
testdbname		    = mk8_test_assembly_mappings_chr1_6
testuser		    = ensadmin
testpass		    = WRITE_PASS
logpath			    = /lustre/scratch103/ensembl/mk8/cow_mapping
log_base_path		    = /lustre/scratch103/ensembl/mk8/cow_mapping
chromosomes		    = 1,2,3,4,5,6
features		    = genes,SNPs
