
# FILE: t/EnsTestDB.conf.example
# 
# These are the default values for the
# EnsEMBL test db configuration.  Copy
# this file to t/EnsTestDB.conf and edit
# to change the defaults.

{
    # DBD driver to use - mandatory
    'driver'        => 'mysql',
    
    # machine to connect to - mandatory
    'host'          => 'localhost',
    
    # user to connect to server as - mandatory
    'user'          => 'root',
    
    # port the server is running on - optional
    'port'          => '3306',
    
    # Password if needed
    'password'      => undef,
    
    # File containing the datbase schema in SQL format - mandatory

    'schema_sql'    => ['../sql/table.sql'],
    
    #EnsEMBL DBSQL::Obj module name - optional                   
    #'module'        => 'Bio::EnsEMBL::Pipeline::DBSQL::Obj',
}
