{
  'port'   => '3306',
  'driver' => 'mysql',
  'user'   => 'ensadmin',
  'pass'   => 'XXX',
  'host'   => 'ens-research',
  
  # add a line with the dbname and module
  # You can specify this databases hash in your own MultiTestDB.conf.default file
  # 'databases' => {
  #   'homo_sapiens' => { 
  #     'core' => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
  #     'empty' => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
  #   },
  #   'circ' => {
  #     'core' => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
  #   }
  # },

  # uncomment to use preloaded databases (useful when doing lots of
  # testing)
  # 'preloaded' =>
  #   { 'homo_sapiens' => { 'core' => 'mcvicker_new_schema' } }
}
